In [1]:
import os
from utilities import (extract_image_from_pdf, extract_xml_from_digital_pdf,
                       create_directory, read_directory_files, get_subdirectories,
                       get_string_xmltree, get_xmltree, get_specific_tags, get_page_texts_ordered,
                       get_page_text_element_attrib, get_ngram
                      )
from xml_document_info import (get_xml_info, get_xml_image_info)

from box_horizontal_operations import (merge_horizontal_blocks)
from box_vertical_operations import (merge_vertical_blocks)

import pandas as pd
from PIL import Image, ImageDraw, ImageFont
import copy

from ocr_text_utilities import extract_text_from_image

## Draw the boxes on document pages

In [2]:
def draw_box(filepath, desired_width, desired_height, df, color="green", save=False):
    image  = Image.open(filepath)
    image  = image.resize((desired_width, desired_height))
    draw   = ImageDraw.Draw(image)
    
    for index, row in df.iterrows():
        left   = int(row['text_left'])
        right  = int(row['text_width'] + left)
        top    = int(row['text_top'])
        bottom = int(row["text_height"] + top)
        
        draw.rectangle(((left, top), (right,bottom)), outline=color)
    save_filepath = os.path.join(os.path.dirname(filepath), 'processed_' + os.path.basename(filepath))
    if save:
        image.save(save_filepath)
    
    return image

def show_df(df):
    return df.head(df.shape[0])

## start of program

In [3]:
base_dir   = '/Users/kd/Workspace/python/github/document-structure/data/'
input_dir  = os.path.join(base_dir, 'input')
output_dir = os.path.join(base_dir, 'output')
filename   = '1506.02640.pdf'

In [4]:
pdf_filepath   = os.path.join(input_dir, filename)
working_dir    = os.path.join(output_dir, os.path.splitext(filename)[0])

ret            = create_directory(working_dir)

pdf_image_dir  = extract_image_from_pdf(pdf_filepath, working_dir)
pdf_xml_dir    = extract_xml_from_digital_pdf(pdf_filepath, working_dir)

xml_files      = read_directory_files(pdf_xml_dir, pattern='*.xml')
# print(xml_files, "\n\n")
image_files    = read_directory_files(pdf_image_dir, pattern='*-*.jpg')
# print(image_files)
print("Extracted xml & images of file: %s" % (filename))

Extracted xml & images of file: 1506.02640.pdf

In [6]:
xml_dfs, page_width, page_height = get_xml_info(xml_files[0])
img_dfs, page_width, page_height = get_xml_image_info(xml_files[0])

Total number of pages (10) in file (1506.02640.xml)
Total number of pages (10) in file (1506.02640.xml)

In [7]:
document_configs = {
    'LANGUAGE_TYPE': 'eng',
    
    'HORI_BLOCK_WDTH_DIFF_PERC': 0.85,
    'SUPERSCRIPT_HEIGHT_DIFFERENCE': 7.0,
    'HORI_SPACE_TOO_CLOSE': 10.0,
    
    'VERTICAL_SPACE_TOO_CLOSE': 5.0,
    'AVERAGE_VERTICAL_SPACE': 12.0,
    'LEFT_OR_RIGHT_ALIGNMENT_MARGIN': 20.0
}

In [8]:
file_index     = 0
img_filepath   = image_files[file_index]
df             = xml_dfs[file_index]
img_df         = img_dfs[file_index]

In [9]:
show_df(img_df)

,index,text_top,text_left,text_width,text_height,base64,attrib
0,0,294,463,111,71,b'iVBORw0KGgoAAAANSUhEUgAAArgAAAHACAIAAADGO4xJ...,IMAGE
1,1,294,707,111,71,b'iVBORw0KGgoAAAANSUhEUgAAArgAAAHACAIAAADGO4xJ...,IMAGE

In [31]:
in_df   = df #.loc[10:30]

h_df    = merge_horizontal_blocks(in_df, document_configs, debug=False)

if document_configs['LANGUAGE_TYPE']  == 'hin':
    h_df  = extract_text_from_image(img_filepath, page_width, page_height, h_df, 
                                    lang=document_configs['LANGUAGE_TYPE'])

# v_df    = merge_vertical_blocks(h_df, document_configs, debug=False)

# draw_box(img_filepath, page_width, page_height, new_df, color='red')
# show_df(h_df)

,xml_index,text_top,text_left,text_width,text_height,text,font_size,font_family,font_color,attrib,children
0,0,55,116,699,19,भाग II खण् ड (ii) भारत का रािपर : असाधारण 3,14,ABCDEE+Arial Unicode MS,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5}..."
1,6,93,108,707,21,"का.आ. 1728(अ), किनांक 24 तई, 2019 के का.आ. 180...",16,ABCDEE+Arial Unicode MS,#000000,,None
2,7,122,108,711,21,"किनांक 15 िुलाई, 2019 के का.आ. 2525 (अ) ...",16,ABCDEE+Arial Unicode MS,#000000,,None
3,8,151,108,707,21,"29 अगस्ट्त, 2019 के का.आ. 3141 (अ) और किनांक 0...",16,ABCDEE+Arial Unicode MS,#000000,,None
4,9,180,108,711,21,"2019 के का.आ. 3845 (अ) और किनांक 08 नवम्बर, 20...",16,ABCDEE+Arial Unicode MS,#000000,,None
5,10,209,108,547,21,"का.आ. 4615 (अ) तर्ा 24 िनवरी, 2020 का का.आ. 35...",16,ABCDEE+Arial Unicode MS,#000000,,None
6,11,266,253,419,13,MINISTRY OF AGRICULTURE AND FARMERS WELFARE,14,"Times New Roman,Bold",#000000,,None
7,12,292,253,416,13,"(Department of Agriculture, Cooperation and Fa...",14,"Times New Roman,Bold",#000000,,None
8,13,318,402,117,13,NOTIFICATION,14,"Times New Roman,Bold",#000000,,None
9,14,343,355,212,13,"New Delhi, the 31st January, 2020",14,Times New Roman,#000000,,None
10,15,369,171,642,13,S.O. 488(E).— In exercise of the powers ...,14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1},""attrib"":{""0"":"""",""1"":""""..."
11,17,387,108,705,13,"Insects and Pests Act, 1914 (2 of 1914), the C...",14,Times New Roman,#000000,,None
12,18,404,108,466,13,the Plant Quarantine (Regulation of Import int...,14,Times New Roman,#000000,,None
13,19,428,108,706,13,1. Short title and Commencement.— (1) This...,14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2},""attrib"":{""0"":"""",..."
14,22,445,162,361,13,Import into India) (Second Amendment) Orde...,14,Times New Roman,#000000,,None
15,23,469,162,480,13,(2) It shall come into force on the date of it...,14,Times New Roman,#000000,,None
16,24,493,108,705,13,2. Amendment of Schedule VI.- In the Schedule ...,14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1},""attrib"":{""0"":"""",""1"":""""..."
17,26,510,162,81,13,"Order, 2003-",14,Times New Roman,#000000,,None
18,27,534,140,673,13,After serial number 783 and the entries relati...,14,Times New Roman,#000000,,None
19,28,552,140,112,13,"inserted, namely:-",14,Times New Roman,#000000,,None
20,29,774,670,152,13,[F. No. 8-17/2019-PP.II],14,Times New Roman,#000000,,None
21,30,796,635,191,13,"ATISH CHANDRA, Jt. Secy.",14,Times New Roman,#000000,,None
22,31,823,108,705,13,Note : The Plant Quarantine (Regulation of I...,14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1},""attrib"":{""0"":"""",""1"":""""..."
23,33,845,108,709,17,"vide, number S.O. 1322 (E) dated 18 th Novemb...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2},""attrib"":{""0"":"""",..."
24,36,871,108,709,17,"6 th February 2004, S.O. 427(E), dated ...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
25,43,897,108,709,16,"25 th February 2005, S.O. 462 (E), dated 31 s...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
26,50,923,108,706,16,"31 st July 2006, S.O. 1873 (E), dated ...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
27,57,949,108,706,16,"dated 3 rd December, 2007, S.O. 3(E), dated 1...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
28,64,975,108,706,16,"(E), dated 15 th December, 2008, S.O. 2...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
29,71,1001,108,710,16,"2009, S.O. 3269 (E), dated 23 rd Decemb...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4},""attr..."
30,76,1027,108,706,16,"21 st April, 2010, S.O. 2095(E), dated 27 th ...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
31,83,1052,108,705,17,"dated 11 th October, 2010, S.O. 2711 (E) date...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
32,90,1078,108,706,17,"887 (E) dated 28 th April, 2011, S.O. No. 284...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
33,97,1104,108,706,16,"2012, S.O. 2775(E) 23 rd November, 2012 ...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
34,104,1130,108,706,16,"S.O.1531(E) dated 14 th June, 2013, S.O...",14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5,..."
35,111,602,111,106,13,S.No. Plant,14,"Times New Roman,Bold",#000000,NaN,"{""index"":{""0"":0,""1"":1},""attrib"":{""0"":"""",""1"":""""..."
36,113,620,173,50,13,Species,14,"Times New Roman,Bold",#000000,,None
37,114,602,258,79,13,Category of,14,"Times New Roman,Bold",#000000,,None
38,115,620,250,95,13,plant material,14,"Times New Roman,Bold",#000000,,None
39,116,602,369,74,13,Country of,14,"Times New Roman,Bold",#000000,,None
40,117,620,385,42,13,origin,14,"Times New Roman,Bold",#000000,,None
41,118,602,462,154,13,Additional declarations,14,"Times New Roman,Bold",#000000,,None
42,119,620,462,181,13,required to be incorporated,14,"Times New Roman,Bold",#000000,,None
43,120,637,462,190,13,into Phytosanitary certificate,14,"Times New Roman,Bold",#000000,,None
44,121,602,685,129,13,Special conditions,14,"Times New Roman,Bold",#000000,,None
45,122,620,685,64,13,of import,14,"Times New Roman,Bold",#000000,,None
46,123,655,120,640,13,(1) (2) (3) (4) (5) (6),14,"Times New Roman,Bold",#000000,NaN,"{""index"":{""0"":0,""1"":1,""2"":2,""3"":3,""4"":4,""5"":5}..."
47,129,687,108,94,13,784 Musa,14,"Times New Roman,Italic",#000000,NaN,"{""index"":{""0"":0,""1"":1},""attrib"":{""0"":"""",""1"":""""..."
48,131,704,165,40,13,textilis,14,"Times New Roman,Italic",#000000,,None
49,132,721,165,51,13,(Abaca/,14,Times New Roman,#000000,,None
50,133,738,165,51,13,Manila),14,Times New Roman,#000000,,None
51,134,687,244,106,13,Abaca/ Manila,14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1},""attrib"":{""0"":"""",""1"":""""..."
52,136,704,244,32,13,fiber,14,Times New Roman,#000000,,None
53,137,687,363,166,13,Philippines Free from:,14,Times New Roman,#000000,NaN,"{""index"":{""0"":0,""1"":1},""attrib"":{""0"":"""",""1"":""""..."
54,139,704,462,146,13,Ralstonia solanacearum,14,"Times New Roman,Italic",#000000,,None
55,140,721,462,122,13,Race 2 (Moko wilt),14,Times New Roman,#000000,,None
56,141,687,685,29,13,NIL,14,Times New Roman,#000000,,None

In [29]:
children_df = pd.read_json(h_df.iloc[10]['children'])
children_df

,attrib,font_color,font_family,font_size,index,text,text_height,text_left,text_top,text_width,xml_index
0,,#000000,"Times New Roman,Bold",14,0,S.O. 488(E).—,13,171,369,95,15
1,,#000000,Times New Roman,14,1,In exercise of the powers conferred by ...,13,266,369,547,16

In [30]:
draw_box(img_filepath, page_width, page_height, p_df, color='green')

NameError: name 'p_df' is not defined

In [ ]:
def transform_dataframe(df):
    for index, row in df.iterrows():